.box { width: 100px; height: 100px; border: 1px solid red; }
.counter { width: 300px; height: 300px; border: 1px solid blue; align-content: center; text-align: center; }
.msg { color: red; font-size: small; font-weight: bold; }